stages:
  - build
  - validate
  - deploy

variables:
  ALERTMANAGER_TEMPLATE: alertmanager/config.yml.tpl
  ALERTMANAGER_RENDERED: alertmanager/config.yml
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  # TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA

build-ci-image:
  stage: build
  image: docker:24.0.2
  variables:
    IMAGE_NAME: ${CI_PROJECT_PATH}:${CI_COMMIT_SHORT_SHA}
  script:
    - docker build  -t $TAG_LATEST validate/.
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
    - docker push $TAG_LATEST
    - docker images "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME" --format '{{.Repository}}:{{.Tag}}\t{{.ID}}'
    - docker images "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME" --format '{{.Repository}}:{{.Tag}}\t{{.ID}}' | awk '$1 !~ /:latest$/ { print $2 }'| xargs -r docker rmi
  only:
    changes:
      - validate/Dockerfile
  tags:
    - docker

validate-alertmanager:
  stage: validate
  image:
    name: $TAG_LATEST
    entrypoint: [""]
  tags:
    - docker

  script:
    - envsubst < "$ALERTMANAGER_TEMPLATE" > "$ALERTMANAGER_RENDERED"
    - cat $ALERTMANAGER_RENDERED
    - echo "Checking rendered Alertmanager config..."
    - amtool check-config "$ALERTMANAGER_RENDERED"
  artifacts:
    paths:
      - $ALERTMANAGER_RENDERED
    expire_in: 10m

validate-prometheus:
  stage: validate
  image:
    name: $TAG_LATEST
    entrypoint: [""]
  tags:
    - docker

  script:
    - mkdir -p /etc/prometheus/ssl
    - cp dummycerts/* /etc/prometheus/ssl/
    - find ./prometheus/rules/ \( -name '*.yaml' -o -name '*.yml' \) -exec promtool check rules {} +
    - promtool check config prometheus/prometheus.yml

deploy-prometheus:
  stage: deploy
  image:
    name: $TAG_LATEST
    entrypoint: [""]
  tags:
    - docker
  environment: production
  before_script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | tr -d '\r' | ssh-add -
    # - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -p $SERVER_PORT $SERVER_HOST >> ~/.ssh/known_hosts
  script:
    - rsync -avz  --chmod=Du=rwx,Dg=rx,Do=rx,Fu=rw,Fg=r,Fo=r --rsync-path="sudo rsync"  ./prometheus/ $SERVER_USER@$SERVER_HOST:$SERVER_PROM_PATH
    - curl -X POST http://$SERVER_HOST:9090/-/reload
    - ssh-agent -k

deploy-alertmanager:
  stage: deploy
  image:
    name: $TAG_LATEST
    entrypoint: [""]
  tags:
    - docker
  environment: production
  before_script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | tr -d '\r' | ssh-add -
    # - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -p $SERVER_PORT $SERVER_HOST >> ~/.ssh/known_hosts
  script:
    - rsync -avz  --chmod=Du=rwx,Dg=rx,Do=,Fu=rw,Fg=r,Fo= --rsync-path="sudo rsync"  $ALERTMANAGER_RENDERED $SERVER_USER@$SERVER_HOST:$SERVER_ALERTMANAGER_PATH
    - curl -X POST http://$SERVER_HOST:9093/-/reload
    - ssh-agent -k
