global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'my-project'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - 'rules/main_rules.yml'
  - 'rules/linux/lin_rules.yml'
  - 'rules/windows/win_rules.yml'
  # - "first.rules"
  # - "second.rules"

# alert
alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.

  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 15s

    static_configs:
         - targets: ['localhost:9090']

  - job_name: 'cadvisor'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 15s

    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'linux_servers'
    scrape_interval: 15s
    scheme: https
    static_configs:
      - targets:
        - 'linux-01.domain.com:9200'
        labels:
          instance_host: linux-01
    tls_config:
      ca_file: /path-to/ca-certificate.pem
      cert_file: /path-to/prometheus-client-cert.pem
      key_file: /path-to/prometheus-client-key.pem

  - job_name: 'windows_servers'
    scrape_interval: 15s
    scheme: https
    dns_sd_configs:
      - names:
          - "_prometheus-windows-rdp._tcp.domain.com"
        type: "SRV"  # Use SRV to get IPs with ports
        refresh_interval: "30s"
    tls_config:
      ca_file: /path-to/ca-certificate.pem
      cert_file: /path-to/prometheus-client-cert.pem
      key_file: /path-to/prometheus-client-key.pem


  - job_name: 'linux_web_servers'
    scrape_interval: 15s
    scheme: https
    dns_sd_configs:
      - names:
          - "_prometheus-linux-web._tcp.domain.com"
        type: "SRV"  # Use SRV to get IPs with ports
        refresh_interval: "30s"
    tls_config:
      ca_file: /path-to/ca-certificate.pem
      cert_file: /path-to/prometheus-client-cert.pem
      key_file: /path-to/prometheus-client-key.pem

  - job_name: 'linux_db_servers'
    scrape_interval: 15s
    scheme: https
    dns_sd_configs:
      - names:
          - "_prometheus-linux-db._tcp.domain.com"
        type: "SRV"  # Use SRV to get IPs with ports
        refresh_interval: "30s"
    tls_config:
      ca_file: /path-to/ca-certificate.pem
      cert_file: /path-to/prometheus-client-cert.pem
      key_file: /path-to/prometheus-client-key.pem

  - job_name: 'synology'
    scheme: https
    static_configs:
      - targets:
        - synology-d-wise.ad.d-wise.ru  # SNMP device.
    metrics_path: /snmp
    params:
      auth:
        - public_v2
      module:
        - if_mib
        - synology
        - ucd_la_table
        - ucd_memory
        - ucd_system_stats
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exp-01:9116  # The SNMP exporter's real hostname:port.
    tls_config:
      ca_file: /path-to/ca-certificate.pem
      cert_file: /path-to/prometheus-client-cert.pem
      key_file: /path-to/prometheus-client-key.pem

  - job_name: 'powercom'
    scrape_interval: 15s
    scheme: https
    static_configs:
      - targets:
        - ups-01
        - ups-02
    metrics_path: /snmp
    params:
      auth:
        - public_v2
      module:
        - if_mib
        - powercom
        - system
        - ucd_la_table
        - ucd_memory
        - ucd_system_stats
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exp-01:9116  # The SNMP exporter's real hostname:port.
    tls_config:
      ca_file: /path-to/ca-certificate.pem
      cert_file: /path-to/prometheus-client-cert.pem
      key_file: /path-to/prometheus-client-key.pem

  #   static_configs:
  #     - targets: ['nginx-exporter:9113']
